
whitelist.json

wepif.yml

*.jar

*.schem

*.db

version_history.json

usercache.json
libraries/

logs/

*.sqlite

plugins/WorldEdit/sessions/

plugins/WorldEdit/.archive-unpack/

plugins/WanderingTrades/lang/en_US.yml

plugins/squaremap/web/

plugins/squaremap/locale/

plugins/squaremap/data/

plugins/ProtocolLib/lastupdate

plugins/Pl-Hide-Pro/secret.key

plugins/Pl-Hide-Pro/config_with_explanations.yml

plugins/Pl-Hide-Pro/config-example.yml

plugins/LuckPerms/translations/

plugins/Essentials/usermap.csv

plugins/Essentials/userdata/

plugins/Essentials/upgrades-done.yml

plugins/CoreProtect/.license

plugins/ChatControlRed/error.log

plugins/ChatControlRed/log.csv

plugins/ChatControlRed/usermap.csv

plugins/ChatControlRed/unused/

plugins/ChatControlRed/mysql.yml

plugins/ChatControlRed/localization/

plugins/ChatControlRed/images/

paper.yml-README.txt

ops.json

disable_prompt_for_java_version

banned-players.json

banned-ips.json

.docker_overwrite

.console_history

DIM1/
DIM-1/
stats/
region/
poi/
playerdata/
generated/
entities/
datapacks/
data/
advancements/
level.dat
*.dat_old
session.lock
uid.dat

plugins/PlotSquared/templates/

plugins/PlotSquared/lang/

*.log

plugins/Chunky/tasks/

eula.txt
